* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #90c8ac;
}
.snowflake {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #f5f5f5;
  position: absolute;
  top: -8px;
}
@keyframes fall {
  100% {
    transform: translateY(5780px);
    opacity: 0;
  }
}
.web__page {
  display: flex;
}

.sidebar {
  width: 30%;
  height: 100vh;
  position: sticky;
  top: 0;
  background-color: #90c8ac;
  transform: translate(-100%);
  transition: transform 1s linear;
}
.web__page .sidebar > nav > ul > li:hover {
  cursor: pointer;
}
.show {
  transform: translate(0) !important;
}
.web__page > header > nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}
.web__page > header > nav > img {
  width: 250px;
  height: 350px;
  border: 1px solid none;
  box-sizing: border-box;
  border-radius: 60%;
}
.web__page > header > nav > ul {
  margin-top: 50px;
}

.web__page > header > nav > ul > li {
  padding: 20px;
  list-style: none;
}

main {
  width: 100%;
  background-color: #c4dfaa;
  box-sizing: border-box;
}
.light__icons {
  position: relative;
  margin: 10px 0 0 10px;
}
.light__icon {
  position: absolute;
  opacity: 0;
  z-index: 0;
  cursor: pointer;
}
.mode {
  opacity: 1;
  z-index: 1;
}
.web__page > main > #profile {
  position: relative;
  margin-top: 300px;
  margin-left: 50px;
  box-sizing: border-box;
}
.web__page > main > #profile > h2 {
  font-size: 100px;
}
.web__page > main > #profile > .email {
  display: flex;
  align-items: center;
  font-size: 24px;
}
.web__page > main > #profile > .email > p {
  margin-left: 10px;
}
.web__page > main > #profile > .phone__number {
  display: flex;
  align-items: center;
  font-size: 24px;
}
.web__page > main > #profile > .phone__number > p {
  margin: 5px 0 0 10px;
}
.web__page > main > #skills {
  padding-top: 500px;
}
.web__page > main > #skills .skill__img {
  margin: 50px;
  width: 300px;
  height: 300px;
}
.web__page > main > #movies {
  padding-top: 2000px;
  padding-bottom: 200px;
  display: grid;
  grid-template-columns: 250px 250px 250px 250px 250px;
  grid-template-rows: 250px 250px 250px 250px;
  margin: 40px 0 0 40px;
  box-sizing: border-box;
  position: relative;
}

.web__page > main > #movies > .movie img {
  width: 200px;
  height: 200px;
  cursor: pointer;
}
.web__page > main > #education {
  padding-top: 500px;
}
.web__page > main > #education > ul {
  margin-left: 50px;
}
.web__page > main > #education > ul > li {
  margin: 15px;
  font-size: 24px;
}
#movies .video {
  position: absolute;
  top: 2200px;
  left: 300px;
}
#gallery {
  padding: 500px 0 0 50px;
  box-sizing: border-box;
}
.container {
  position: relative;
}
.slides {
  position: absolute;
  opacity: 0;
  z-index: 0;
}
.showing {
  opacity: 1;
  z-index: 1;
}
#gallery > .container > .slides img {
  width: 400px;
  height: 600px;
}
.prev {
  position: absolute;
  margin-top: 10px;
  top: 3200px;
  height: 40px;
  width: 40px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.next {
  position: absolute;
  margin-top: 10px;
  top: 3200px;
  left: 850px;
  height: 40px;
  width: 40px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.footer__bar {
  background-color: #90c8ac;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 70px;
  transform: translate(-100%);
  transition: transform 2.5s ease-in-out 1s;
  z-index: 2;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
}

.footer__bar p {
  font-size: 40px;
  color: transparent;
  margin: 10px 20px 0 0;
  cursor: pointer;
  background: linear-gradient(
    #fd004c 16.7%,
    #fe9000 16.7%,
    #fe9000 33.4%,
    #fff020 33.4%,
    #fff020 50.1%,
    #3edf4b 50.1%,
    #3edf4b 66.8%,
    #3363ff 66.8%,
    #3363ff 83.5%,
    #b102b7 83.5%
  );
  -webkit-text-stroke: 0.04em #ffffff;
  text-stroke: 0.04em #ffffff;
  -webkit-background-clip: text;
  background-clip: text;
  line-height: 1.1em;
  animation: rainbow 50s linear infinite;
}
@keyframes rainbow {
  100% {
    background-position: 0 30em;
  }
}

.spinner {
  position: fixed;
  display: flex;

  right: 800px;
  top: 400px;
  transition: opacity 0.75s, visibility 0.75s;
}
/* .spinner-hidden {
  opacity: 0;
  visibility: hidden;
} */

.spinner::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #3edf4b;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}

.dark {
  background-color: #444444;
  color: #f8f4ea;
}
.dark__main {
  background-color: #171717;
}
#chart {
  height: 300px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 20px;
  right: 600px;
}
.snow__icon {
  cursor: pointer;
  margin-top: 10px;
  margin-left: 70px;
}
.xBtn {
  color: #e50914;
  position: absolute;
  margin-left: 10px;
  font-size: large;
  background-color: #000;
  cursor: pointer;
}
